html {
    font-size: 10px;
    font-family: "Caveat", cursive;
    background-color: #3F3B3b;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #F2513C;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

img {
    border: 10px solid black;
    display: block;
    margin: 0 auto;
}
h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #3F3B3B;
    text-shadow: 2px 2px 1px black;
  }
h2 {
    font-size: 40px;
    text-align: center;
}
  
  p, li {
    font-size: 16px;    
    line-height: 2;
    letter-spacing: 1px;
  }